.navigationButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nextButton {
  animation: buttonAnimation 500ms ease-in-out;
}

@keyframes buttonAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
