@import 'https://fonts.googleapis.com/css?family=Inter';

* {
  box-sizing: border-box;
}

$font-stack: 'Inter', system-ui, sans-serif;
$background-color: #000;
$page-color: linear-gradient(315deg, #130f40 0%, #000 74%);

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  font-family: $font-stack;
  background-image: $page-color;
  background-attachment: fixed;
  height: 100%;
}
